
body {
  font-style:Courier;
  /* background-image:  url('{!$Resource.back2}'); */
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.column {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.column a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.column .close {
  position: absolute;
  top: 0;
}
.open {
  font-size: 20px;
  cursor: pointer;
  background-color: #418544;
  color: black;
  border: none;
}
#mainSec {
  transition: margin-left .5s;
  padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 600px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 20px;}
}
    

